.hero-banner-section {
  height: 100vh;
  width: 100%;
  background-image: url('./LandingPage/hero.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero-content {
  padding-left: 5%;
  width: 35%;
}
.hero-btn-control {
  display: flex;
  justify-content: space-between;
}
.service-btn {
  color: #03123b;
  background-color: #fff;
  font-weight: 600;
}
.hero-title {
  color: #03123b;
  font-family: 'robotoRegular';
  font-size: 30px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}
.hero-text {
  color: #03123b;
  font-family: 'robotoRegular';
  font-size: 22px;
  margin-bottom: 20px;
}
.export-section {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: 'robotoMedium';
  text-transform: uppercase;
}
.bb {
  border-bottom: 1px solid #000;
  width: 10%;
  padding: 5px 0px;
}
.export-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75%;
}
.country-block {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: 100%;
  justify-content: space-between;
  font-size: 20px;
  font-family: robotoRegular;
  text-transform: uppercase;
  overflow: hidden;
  padding: 15px 0;
}
.country-grp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  padding: 10px;
  font-size: 14px;
  margin: 0 15px;
  font-weight: bold;
}
.c-flag {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}
.features-section {
  margin: 2% 0;
  width: 100%;
  height: 15vh;
  border-radius: 25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: 'robotoRegular';
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
}
.whatsapp-gif {
  width: 80px;
  height: 80px;
  position: fixed;
  right: 20px;
  bottom: 40px;
}

@media only screen and (max-width: 520px) {
  .c-flag {
    width: 60px;
    height: 60px;
  }
  .home-title h3 {
    font-size: 20px;
    text-align: center;
  }
  .export-content {
    height: 85%;
  }
  .features-section {
    height: 10vh;
    font-size: 0.75rem;
  }
}
