.hero-banner-section {
  height: 90vh;
  width: 100%;
  background-image: url('./LandingPage/fin.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.ssf {
  height: 50px;
  margin-left: 10px;
  background-image: linear-gradient(
    to right,
    #4b6cb7 0%,
    #182848 51%,
    #4b6cb7 100%
  );
  text-transform: uppercase;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-size: 200% auto;
  color: white;
}

.ssf:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.hero-content {
  padding-left: 5%;
  width: 35%;
}
.hero-btn-control {
  display: flex;
}

.service-btn:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}

.service-btn {
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    #e0eafc 0%,
    #cfdef3 51%,
    #e0eafc 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  height: 50px;
  color: #03123b;
  background-color: rgb(236, 234, 234);
  font-weight: 600;
}
.hero-title {
  color: #03123b;
  font-family: 'robotoRegular';
  font-size: 2rem;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
  font-weight: 500;
}
.hero-text {
  color: #03123b;
  font-family: 'robotoRegular';
  font-size: 1rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.export-section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: 'robotoMedium';
  text-transform: uppercase;
  text-align: center;
}
.bb {
  border-bottom: 1px solid #000;
  width: 10%;
  padding: 5px 0px;
}
.export-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 3rem 0;
}
.country-block {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: 100%;
  justify-content: space-between;
  font-size: 20px;
  font-family: robotoRegular;
  text-transform: uppercase;
  overflow: hidden;
  padding: 15px 0;
}
.country-grp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  padding: 10px;
  font-size: 14px;
  margin: 0 15px;
  font-weight: bold;
}
.c-flag {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}
.features-section {
  margin: 2% 0;
  padding: 0 2%;
  width: 100%;
  height: 10vh;
  border-radius: 25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: 'robotoRegular';
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  background-image: radial-gradient(
    circle farthest-corner at 16.5% 28.1%,
    rgba(15, 27, 49, 1) 0%,
    rgba(0, 112, 218, 1) 90%
  );
}
.whatsapp-gif {
  width: 80px;
  height: 80px;
  position: fixed;
  right: 20px;
  bottom: 40px;
  z-index: 1;
}
.special-section {
  height: 100%;
  margin: 3rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.special-title h3 {
  font-family: 'robotoMedium';
  font-size: 1.5rem;
}
.sym {
  font-size: 4rem;
  color: #ffa62b;
}
.special-card {
  display: flex;
  width: 125px;
  height: 120px;
  margin: 1rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-family: 'robotoMedium';
}
.cont-sec {
  /* background-image: url('./Wave.svg'); */
  /* background-position: center; */
  /* background: -webkit-linear-gradient(left, #0072ff, #00c6ff); */
  /* padding: 1rem 0; */
  padding: 2rem 0;
  margin: 3rem 0;
}

.btnSubmit {
  background-image: linear-gradient(
    to right,
    #ffb347 0%,
    #ffcc33 51%,
    #ffb347 100%
  );
}
.btnSubmit {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  color: white;
  box-shadow: none;
  border: none;
  width: 150px;
  height: 40px;
  margin-top: 1rem;
}

.btnSubmit:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.form-control {
  border-left: none;
  background: transparent;
  border-right: none;
  border-top: none;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem;
}
.special-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 75%;
}
.contact-image {
  text-align: center;
}
.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}
/* .contact-form form {
  padding: 14%;
}
.contact-form form .row {
  margin-bottom: -7%;
} */
.contact-form h3 {
  font-family: 'robotoRegular';
  text-align: center;
  text-transform: uppercase;
}
.cont-bord {
  border-bottom: 1px solid #03123b;
  width: 4rem;
  margin: 0 auto 1rem auto;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}
.how-section1 {
  margin-top: -15%;
  padding: 10%;
}
.how-section1 h4 {
  color: #ffa500;
  font-weight: bold;
  font-size: 30px;
}
.fast-del img {
  width: 100%;
  height: 100%;
}
.how-section1 .subheading {
  color: #3931af;
  font-size: 20px;
}
.how-section1 .row {
  margin-top: 10%;
}
.how-img {
  text-align: center;
}
.how-img img {
  width: 40%;
}
.form-group {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  margin-bottom: 5px;
}
@media only screen and (max-width: 1024px) {
  .hero-content {
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .whatsapp-gif {
    width: 60px;
    height: 60px;
  }
  .was {
    margin-top: 3rem;
    padding: 0 1.5rem;
  }
  .service-btn {
    width: 150px;
  }
  .ssf {
    width: 150px;
  }
  .c-flag {
    width: 60px;
    height: 60px;
  }
  .home-title h3 {
    font-size: 20px;
    text-align: center;
  }
  .export-content {
    height: 85%;
  }
  .features-section {
    height: 8vh;
    font-size: 0.75rem;
  }
  .special-card {
    margin: 0.75rem;
  }
  .special-row {
    width: 90%;
  }
  .sym {
    font-size: 3rem;
  }
  .contact-form {
    width: 100%;
  }
  .form-group {
    display: flex;
    justify-content: center;
  }
  .contact-form .btnContact {
    width: 60%;
    padding: 2.5%;
  }
  .contact-form h3 {
    font-size: 1.2rem;
  }
  .footer__logo h3 {
    font-size: 2rem !important;
  }
  .footer__logo span {
    font-size: 0.7rem;
  }
}
@media (max-width: 475px) {
  .hero-content {
    width: 80%;
  }
  .hero-title {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  .hero-text {
    font-size: 1rem;
  }
  .service-btn,
  .ssf {
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .header__logo h3 {
    font-size: 2rem !important;
  }
  .header__logo span {
    font-size: 0.69rem !important;
  }
  .header__logo {
    padding: 20px 0;
  }
  .canvas__open {
    top: 25px;
  }
  .offcanvas__social {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
}
