body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.button {
  height: 70px;
  width: 200px;
  color: white;
  background-color: #03123b;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 3px;
  align-items: center;
  transition: all 0.3s;
}
.button:hover {
  background-color: #ffa62b;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a:hover {
  text-decoration: none !important;
}
@font-face {
  font-family: 'robotoLight';
  src: url('./assets/Fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoRegular';
  src: url('./assets/Fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoMedium';
  src: url('./assets/Fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'acquireB';
  src: url('./assets/Fonts/Aquire-BW0ox.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'acquireBold';
  src: url('./assets/Fonts/AquireBold-8Ma60.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'acquireLight';
  src: url('./assets/Fonts/AquireLight-YzE0o.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
