body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'acquireB';
  src: url('./assets/Fonts/Aquire-BW0ox.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'acquireBold';
  src: url('./assets/Fonts/AquireBold-8Ma60.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'acquireLight';
  src: url('./assets/Fonts/AquireLight-YzE0o.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
